<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  # Ya no necesitamos RewriteBase porque es la raíz del subdominio

  # Si la solicitud es para un archivo o directorio existente, servirlo directamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # De lo contrario, redirigir todo al index.html
  RewriteRule ^ index.html [L]
</IfModule>
